# Base URL for authentication callbacks and redirects
AUTH_URL="http://localhost:3000"

# Use to encrypt JWT tokens and sign cookies and generate a secure random string
# Generate SECRET using this https://auth-secret-gen.vercel.app/
AUTH_SECRET=""

# Browse DB doc for detailed setup instructions and configuration options
DATABASE_URL=""

# For detailed setup instructions and configuration options
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# Browse Resend doc for detailed setup instructions and configuration options
AUTH_RESEND_KEY=""

# Browse AWS S3 doc for detailed setup instructions and configuration options
AWS_S3_REGION=""
AWS_S3_BUCKET_NAME=""
AWS_S3_ACCESS_KEY=""
AWS_S3_SECRET_KEY=""

# Browse Stripe doc for detailed setup instructions and configuration options
STRIPE_SECRET_KEY=""
STRIPE_PUBLIC_KEY=""
STRIPE_WEBHOOK_SECRET="" 